.event-page header {
   /* background-image: linear-gradient(rgba(10, 20, 50, 0.75), rgba(10, 20, 50, 0.75)), url(../../utils/images/event-page-header.jpg);*/
   background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/startmain.png);
    background-size: cover;
    background-position: center;
}
